#AboutWrapper {
    width: 100%;
}

#About {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

}

/* ========================= */
/* LEFT SECTION */
/* ========================= */

.leftabout {
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
}



.circle-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(39, 187, 213);
    box-shadow: 2px 2px 20px rgb(39, 187, 213);
}

.line {
    width: 2px;
    height: 100px;
    background-color: rgb(50, 187, 214);
}

.aboutdetails {
    display: flex;
    gap: 15px;
    flex-direction: column;
    transform: scale(0.95);
    transform-origin: top left;
}

.aboutdetails ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aboutdetails h1 {
    margin-bottom: 10px;

    background: linear-gradient(to right,
            rgb(203, 65, 70),
            white);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.aboutdetails li {
    color: white;
    line-height: 1.5;
    font-size: 0.95rem;
}

.aboutdetails span {
    color: rgb(100, 217, 178);
    font-weight: bold;
}

/* ========================= */
/* RIGHT SECTION */
/* ========================= */

.rightabout {
    width: 50%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 18px;
    padding: 10px;
}

/* ========================= */
/* LEETCODE CARD */
/* ========================= */

.leetcode-card {
    width: 90%;
    max-width: 650px;
    min-height: auto;

    background-color: rgb(47, 39, 39);

    border-radius: 10px;
    padding: 5px;

    box-shadow:
        2px 2px 10px rgb(5, 6, 6),
        2px 2px 20px rgb(89, 165, 236);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: auto;
}

.leetcode-card h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.3rem;

    background: linear-gradient(to right,
            rgb(203, 65, 70),
            white);

    -webkit-background-clip: text;
    color: transparent;
}

.leetcode-inside-card {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.leetcode-inside-card img {
    width: 100%;
    max-width: 420px;
    transform: scale(1.0);
    border-radius: 8px;
}

/* ========================= */
/* GITHUB CARD */
/* ========================= */

.dsa-github-card {
    width: 90%;
    max-width: 700px;
    min-height: auto;

    background-color: rgb(47, 39, 39);

    border-radius: 10px;
    padding: 5px;

    box-shadow:
        2px 2px 10px rgb(5, 6, 6),
        2px 2px 20px rgb(89, 165, 236);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: auto;
}

.dsa-github-card h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;

    background: linear-gradient(to right,
            rgb(203, 65, 70),
            white);

    -webkit-background-clip: text;
    color: transparent;
}

.github-inside-card {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;

    transform: scale(0.95);
    transform-origin: top center;
}

.github-inside-card svg {
    max-width: 100%;
    height: auto;
}

.github-inside-card text {
    fill: white !important;
}

.github-inside-card span {
    color: white !important;
}





/* ========================= */
/* MOBILE RESPONSIVE */
/* ========================= */

@media (max-width: 750px) {

    #About {
        flex-direction: column;
        align-items: center;
    }

    .leftabout {
        width: 100%;
        min-height: auto;
        padding: 20px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .rightabout {
        width: 100%;
        min-height: auto;
        margin-top: 20px;
    }

    .circle {
        width: 60px;
        height: 60px;
    }

    .line {
        height: 70px;
    }

    .aboutdetails {
        gap: 20px;
    }

    .aboutdetails h1 {
        font-size: 1.3rem;
    }

    .aboutdetails li {
        font-size: 0.9rem;
    }

    .leetcode-card,
    .dsa-github-card {
        width: 95%;
        padding: 10px;
    }

    .leetcode-card h2,
    .dsa-github-card h2 {
        font-size: 1.5rem;
    }

    .github-inside-card,
    .leetcode-inside-card {
        justify-content: flex-start;
    }



}